:root {
  --control-font: #fafafa;
}

.timer {
}
h1 {
  color: var(--control-font);
}

.clue {
  width: 75vw;
  height: 25vh;
  background-color: green;
  left: 12.5%;
  margin-top: 37.5%;
}

.control-bg {
  background: #121212;
  height: 100vh;
  width: 100vw;
  padding: 12px;
}

.card {
  background: rgba(255, 255, 255, 0.06) !important;
  color: var(--control-font);
  padding: 30px;
}

.timer-button {
  margin: 4px auto;
  width: 75%;
}

.btn {
  font-weight: 600 !important;
}

.timer-button-danger {
  font-weight: bold !important;
}

.timer-window {
  height: 65vh;
}

.clue-controls {
  height: 26vh;
}

.toggle-clue-button {
  width: 50% !important;
  height: 80% !important;
  margin: 10px auto auto auto;
  float: right;
}

.clue-text {
  height: 50%;
  margin-bottom: 2px;
}

.clue-visible-text {
  margin-top: 16px !important;
  margin-bottom: -4px;
  color: #27a102;
  font-weight: bold;
}

.clue-hidden-text {
  margin-top: 16px !important;
  color: red;
  margin-bottom: -4px;
  font-weight: bold;
}
