:root {
  --control-font: #fafafa;
}

/* 
@font-face {
  font-family: "Bebas Neue";
  src: url("bebasRegular.ttf") format("ttf");
} */

body {
  font-family: "Bebas Neue", sans-serif !important;
  font-weight: 700;
}

.timer {
  padding-left: 30%;
  font-size: 300px;
  padding-top: 13%;
  margin-bottom: -35% !important;
  color: white !important;
  position: absolute;
  font-weight: 700;
}

h1 {
  color: var(--control-font);
}

.clue {
  width: 95vw;
  height: 700px;
  margin-top: 20%;
  position: fixed;
  z-index: -1;
  margin-left: -10vw !important;
}

.control-bg {
  background: #121212;
  height: 100vh;
  width: 100vw;
  padding: 12px;
}

.card {
  background: rgba(255, 255, 255, 0.06) !important;
  color: var(--control-font);
  padding: 30px;
  overflow: none !important;
}

.timer-button {
  margin: 4px auto;
  width: 75%;
}

.btn {
  font-weight: 600 !important;
}

.timer-button-danger {
  font-weight: bold !important;
}

.timer-window {
  height: 65vh;
}

.timer-window-sub {
  height: 50vh;
}

.clue-controls {
  height: 26vh;
}

.toggle-clue-button {
  width: 50% !important;
  height: 80% !important;
  margin: 10px auto auto auto;
  float: right;
}

.clue-text {
  color: white;
  margin-top: 41%;
  position: fixed;
  font-size: 25px;
  font-weight: 700 !important;
  z-index: 1;
  width: 75%;
  word-break: break-all;
  white-space: pre-wrap;
  text-align: center;
}

.clue-visible-text {
  margin-top: 16px !important;
  margin-bottom: -4px;
  color: #27a102;
  font-weight: bold;
}

.clue-hidden-text {
  margin-top: 16px !important;
  color: red;
  margin-bottom: -4px;
  font-weight: bold;
}

.video {
  height: 90%;
}

iframe {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  float: left;
  pointer-events: none;
}

.barcode-wrapper {
  background-image: url("../media/Background.png");
  height: 100vh !important;
  width: 100vw !important;
  background-size: cover;
}

.ingredient-col {
  text-align: center;
}

.ingredient-wrapper {
  padding-top: 35%;
}

.ingredient {
  padding-bottom: 70px;
}

.ingredient-label {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 95px;
  text-align: right;
  padding-right: 5vw;
}

.ingredient-text {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 95px;
  text-align: left;
  margin-left: -5vw;
  margin-right: -10vw;
}

.timer-wrapper {
  height: 100vh;
  width: 100vw;
}

.composition {
  color: black;
  top: 3vh;
  left: 0;
  width: 25.5vw;
  position: absolute;
  height: 30.5vh;
  text-align: center;
  background-color: white;
}

.composition-text {
  font-size: 50px;
  color: black;
  /* margin: ; */
}

@mixin scaleTransistion($val) {
  -ms-transform: scale($val);
  -moz-transform: scale($val);
  -webkit-transform: scale($val);
  transform: scale($val);
}
.neon {
  font-size: 200px;
  color: #b42626;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  letter-spacing: 8px;
}

.flicker-slow {
  animation: flicker 3s linear infinite;
}

.flicker-fast {
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}
.clue-area {
  font-size: 30px;
  text-align: center;
}