:root {
  --control-font: #fafafa;
}

/* 
@font-face {
  font-family: "Bebas Neue";
  src: url("bebasRegular.ttf") format("ttf");
} */

body {
  font-family: "Bebas Neue", sans-serif !important;
  font-weight: 700;
}

.timer {
  padding-left: 45%;
  font-size: 80px;
  padding-top: 20%;
  margin-bottom: -25%;
  color: white;
}

h1 {
  color: var(--control-font);
}

.clue {
  width: 75vw;
  height: 25vh;
  background-color: green;
  margin-top: 35%;
  position: absolute;
  z-index: -1;
}

.control-bg {
  background: #121212;
  height: 100vh;
  width: 100vw;
  padding: 12px;
}

.card {
  background: rgba(255, 255, 255, 0.06) !important;
  color: var(--control-font);
  padding: 30px;
  overflow: none !important;
}

.timer-button {
  margin: 4px auto;
  width: 75%;
}

.btn {
  font-weight: 600 !important;
}

.timer-button-danger {
  font-weight: bold !important;
}

.timer-window {
  height: 65vh;
}

.timer-window-sub {
  height: 50vh;
}

.clue-controls {
  height: 26vh;
}

.toggle-clue-button {
  width: 50% !important;
  height: 80% !important;
  margin: 10px auto auto auto;
  float: right;
}

.clue-text {
  color: white;
  position: absolute;
  margin-left: 7vw;
  margin-top: -26vh;
  font-size: 21px;
  font-weight: 500;
}

.clue-visible-text {
  margin-top: 16px !important;
  margin-bottom: -4px;
  color: #27a102;
  font-weight: bold;
}

.clue-hidden-text {
  margin-top: 16px !important;
  color: red;
  margin-bottom: -4px;
  font-weight: bold;
}

.video {
  height: 90%;
}

iframe {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  float: left;
  pointer-events: none;
}

.barcode-wrapper {
  background-image: url("../media/Background.png");
  height: 100vh !important;
  width: 100vw !important;
  background-size: cover;
}

.ingredient-col {
  text-align: center;
}

.ingredient-wrapper {
  padding-top: 35%;
}

.ingredient {
  padding-bottom: 70px;
}

.ingredient-label {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 58px;
}

.ingredient-text {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
}

.timer-wrapper {
  height: 100vh;
  width: 100vw;
}

.composition {
  color: black;
  top: 0;
  left: 0;
  width: 25.5vw;
  position: absolute;
  height: 30.5vh;
  text-align: center;
}

.composition-text {
  font-size: 50px;
  color: black;
  /* margin: ; */
}
