// ! colors

$primary-dark: #333332;
$primary-blue: #8ecae6;
$secondary-blue: #219ebc;
$primary-blue-dark: #023047;
$primary-orange: #ffb703;
$secondary-orange: #fb8500;
$primary-white: #ffffff;

// ! screensize

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
