@import "./variables";
body {
  background-color: $primary-dark;
  font-family: "Roboto Condensed";
}

.timer {
  width: 30vw;
  height: 22vh;
  border: 2px solid $primary-blue;
  position: absolute;
  left: 36%;
  top: 32%;
}
